.buffering-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;

  &.control-visible {
    bottom: calc(var(--rv-control-padding-y) + var(--rv-control-button-height));
  }

  &.buffering {
    opacity: 1;
  }
}

.video-container.full-screen {
  @include screen-query(425px) {
    .buffering-container span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-425);
      height: var(--rv-mobile-control-button-size-fullscreen-425);
    }
  }
  @include screen-query(600px) {
    .buffering-container span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-600);
      height: var(--rv-mobile-control-button-size-fullscreen-600);
    }
  }

  @include screen-query(1000px) {
    .buffering-container span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-1000);
      height: var(--rv-mobile-control-button-size-fullscreen-1000);
    }
  }

  @include screen-query(1200px) {
    .buffering-container span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-1200);
      height: var(--rv-mobile-control-button-size-fullscreen-1200);
    }
  }

  @include screen-query(1400px) {
    .buffering-container span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-1400);
      height: var(--rv-mobile-control-button-size-fullscreen-1400);
    }
  }
}
