.info-text-container {
  position: absolute;
  top: var(--rv-info-text-container-margin);
  left: var(--rv-info-text-container-margin);
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.45);
  transition: opacity 300ms ease-in-out;

  &.hidden {
    opacity: 0;
  }

  h1 {
    margin: 0;
    font-weight: 700;
    text-transform: capitalize;
    font-size: var(--rv-info-text-title-font-size);
    padding-bottom: var(--rv-info-text-title-padding-bottom);
  }

  p {
    margin: 0;
    font-size: var(--rv-info-text-summery-font-size);
    text-transform: capitalize;
  }

  &.full-screen {
    top: var(--rv-info-text-container-margin-fullscreen);
    left: var(--rv-info-text-container-margin-fullscreen);

    h1 {
      font-size: var(--rv-info-text-title-font-size-fullscreen);
      padding-bottom: var(--rv-info-text-title-padding-bottom-fullscreen);
    }

    p {
      font-size: var(--rv-info-text-summery-font-size-fullscreen);
    }
  }
}
