.mobile-control-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(var(--rv-control-padding-y) + var(--rv-control-button-height));
  // var(--rv-control-padding-y) * 2 + var(--rv-control-button-height) + var(--rv-progress-height)
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--rv-mobile-control-button-color);
  pointer-events: none;

  &.hidden {
    @include visible-hidden-control(0);
  }

  &.visible {
    @include visible-hidden-control(1);
  }

  button {
    background: none;
    border: none;
    color: inherit;
    opacity: 0.85;
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.buffering {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.video-container.full-screen {
  @include screen-query(425px) {
    .mobileControl-container button span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-425);
      height: var(--rv-mobile-control-button-size-fullscreen-425);
    }
  }

  @include screen-query(600px) {
    .mobileControl-container button span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-600);
      height: var(--rv-mobile-control-button-size-fullscreen-600);
    }
  }

  @include screen-query(1000px) {
    .mobileControl-container button span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-1000);
      height: var(--rv-mobile-control-button-size-fullscreen-1000);
    }
  }

  @include screen-query(1200px) {
    .mobileControl-container button span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-1200);
      height: var(--rv-mobile-control-button-size-fullscreen-1200);
    }
  }

  @include screen-query(1400px) {
    .mobileControl-container button span svg {
      width: var(--rv-mobile-control-button-size-fullscreen-1400);
      height: var(--rv-mobile-control-button-size-fullscreen-1400);
    }
  }
}
