/.vscode
/.changeset
/.storybook
/example
/node_modules
/src
/stories
/tests

.env
.prettierrc.json
*storybook.log

eslint.config.js
rollup.config.*

eslint.config.*
package-lock.json

tsconfig.app.*
tsconfig.json
tsconfig.node.*
vite.config.*