@import "../global.scss";

.buffering-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;

  &.control-visible {
    bottom: calc(nth($control-padding, 1) + $control-button-height);
  }

  &.buffering {
    opacity: 1;
  }
}

.video-container.full-screen {
  @include screen-query(425px) {
    .buffering-container span svg {
      width: $mobile-control-button-size-fullscreen-425;
      height: $mobile-control-button-size-fullscreen-425;
    }
  }
  @include screen-query(600px) {
    .buffering-container span svg {
      width: $mobile-control-button-size-fullscreen-600;
      height: $mobile-control-button-size-fullscreen-600;
    }
  }

  @include screen-query(1000px) {
    .buffering-container span svg {
      width: $mobile-control-button-size-fullscreen-1000;
      height: $mobile-control-button-size-fullscreen-1000;
    }
  }

  @include screen-query(1200px) {
    .buffering-container span svg {
      width: $mobile-control-button-size-fullscreen-1200;
      height: $mobile-control-button-size-fullscreen-1200;
    }
  }

  @include screen-query(1400px) {
    .buffering-container span svg {
      width: $mobile-control-button-size-fullscreen-1400;
      height: $mobile-control-button-size-fullscreen-1400;
    }
  }
}
