@import "../variables.scss";

.skip-button {
  position: absolute;
  z-index: 70;
  right: $skip-button-side-margin;
  bottom: $skip-button-bottom-margin;
  margin: 0;
  cursor: pointer;
  color: $skip-button-color;
  border: $skip-button-border-width solid $skip-button-border-color;
  border-radius: $skip-button-border-border-radius;
  background-color: $skip-button-background-color;
  padding: $skip-button-padding;
  // font-family: sans-serif;
  text-transform: capitalize;
  font-size: $skip-button-font-size;
  transition: bottom 300ms ease;

  &:hover {
    background-color: $skip-button-background-color-hover;
  }

  &.control-visible {
    bottom: calc($control-height + $skip-button-bottom-margin);
  }
}

.video-container.full-screen {
  @include screen-query(425px) {
    .skip-button.control-visible {
      bottom: calc($control-height-fullscreen-425 + $skip-button-bottom-margin);
    }
  }

  @include screen-query(600px) {
    .skip-button.control-visible {
      bottom: calc($control-height-fullscreen-600 + $skip-button-bottom-margin);
    }
  }

  @include screen-query(1000px) {
    .skip-button.control-visible {
      bottom: calc(
        $control-height-fullscreen-1000 + $skip-button-bottom-margin
      );
    }
  }

  @include screen-query(1200px) {
    .skip-button.control-visible {
      bottom: calc(
        $control-height-fullscreen-1200 + $skip-button-bottom-margin
      );
    }
  }

  @include screen-query(1400px) {
    .skip-button.control-visible {
      bottom: calc(
        $control-height-fullscreen-1400 + $skip-button-bottom-margin
      );
    }
  }
}
