@import "../global.scss";

.tool-tip {
  background: $tooltip-background;
  z-index: 80;
  padding: $tooltip-padding;
  font-size: $tooltip-font-size;
  font-family: "Open Sans", Arial, sans-serif;
  border-radius: $tooltip-border-radius;

  &.full-screen {
    padding: $tooltip-padding-fullscreen;
    font-size: $tooltip-font-size-fullscreen;
  }
}
