@import "../global.scss";

.video-bottom-control-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  color: white;

  &.hidden {
    @include visible-hidden-control(0);
  }

  &.visible {
    @include visible-hidden-control(1);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    aspect-ratio: 6 / 1;
    z-index: -10;
    pointer-events: none;
  }

  .controls {
    padding: $control-padding;
    display: flex;
    align-items: center;
    gap: $control-button-gap;

    button {
      background: none;
      border: none;
      color: inherit;
      height: $control-button-height;
      // width: $control-button-width;
      padding: 0;
      opacity: 0.8;
      transition: opacity 150ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .volume-container {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .duration-container {
      flex-grow: 1;
      cursor: pointer;
      font-family: Verdana, sans-serif;
    }

    .setting-button {
      transition: transform 150ms ease-in-out;
      transform-origin: center;
    }
    .setting-active {
      transform: rotateZ(30deg);
    }
  }
}

.video-container.full-screen {
  @include screen-query(425px) {
    .video-bottom-control-container .controls {
      padding: $control-padding-fullscreen-425;
    }
  }

  @include screen-query(600px) {
    .video-bottom-control-container .controls {
      gap: $control-button-gap-fullscreen-600;
      padding: $control-padding-fullscreen-600;
    }
  }

  @include screen-query(1000px) {
    .video-bottom-control-container .controls {
      gap: $control-button-gap-fullscreen-1000;
      padding: $control-padding-fullscreen-1000;
    }
  }

  @include screen-query(1200px) {
    .video-bottom-control-container .controls {
      padding: $control-padding-fullscreen-1200;
    }
  }

  @include screen-query(1400px) {
    .video-bottom-control-container .controls {
      padding: $control-padding-fullscreen-1400;
    }
  }
}

.volume-slider {
  width: 0;
  height: $volume-slider-height;
  background: $volume-slider-color;
  transform-origin: left;
  transform: scaleX(0);
  transition:
    width 150ms ease-in-out,
    transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  width: $volume-container-width-expand;
  transform: scaleX(1);
}

.volume-track.volume-track-0 {
  @include progress-bar(10);
  background: $volume-slider-fill-color;
}

.volume-thumb {
  height: $volume-thumb-height;
  aspect-ratio: 1/1;
  position: absolute;
  top: calc(($volume-slider-height - $volume-thumb-height) / 2);
  z-index: 15;
  transform: scale(var(--scale));
  background: $volume-slider-fill-color;
  border-radius: 50%;
}
