@import "../global.scss";

.mobileControl-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(nth($control-padding, 1) + $control-button-height);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $mobile-control-button-color;

  &.hidden {
    @include visible-hidden-control(0);
  }

  &.visible {
    @include visible-hidden-control(1);
  }

  button {
    background: none;
    border: none;
    color: inherit;
    opacity: 0.85;
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.buffering {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.video-container.full-screen {
  @include screen-query(425px) {
    .mobileControl-container button span svg {
      width: $mobile-control-button-size-fullscreen-425;
      height: $mobile-control-button-size-fullscreen-425;
    }
  }

  @include screen-query(600px) {
    .mobileControl-container button span svg {
      width: $mobile-control-button-size-fullscreen-600;
      height: $mobile-control-button-size-fullscreen-600;
    }
  }

  @include screen-query(1000px) {
    .mobileControl-container button span svg {
      width: $mobile-control-button-size-fullscreen-1000;
      height: $mobile-control-button-size-fullscreen-1000;
    }
  }

  @include screen-query(1200px) {
    .mobileControl-container button span svg {
      width: $mobile-control-button-size-fullscreen-1200;
      height: $mobile-control-button-size-fullscreen-1200;
    }
  }

  @include screen-query(1400px) {
    .mobileControl-container button span svg {
      width: $mobile-control-button-size-fullscreen-1400;
      height: $mobile-control-button-size-fullscreen-1400;
    }
  }
}
