@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$progress-track-color: rgba(255, 255, 255, 0.6);
$progress-track-fill-color: red;
$progress-loaded-color: rgba(255, 255, 255, 0.5);
$progress-thumb-border-color: red;

$mobile-control-button-color: rgba(255, 255, 255, 0.9);
$volume-slider-color: rgba(255, 255, 255, 0.85);
$volume-slider-fill-color: red;
$loader-stroke-color: rgba(255, 255, 255, 0.9);
$setting-color: rgba(255, 255, 255, 0.9);
$setting-background: rgba(0, 0, 0, 0.7);
$setting-background-hover: rgba(255, 255, 255, 0.2);

$caption-background: rgba(0, 0, 0, 0.5);
$caption-color: rgba(255, 255, 255);

$chapters-container-background: rgba(0, 0, 0, 0.85);
$chapter-time-background: rgba(255, 255, 255, 0.2);
$chapter-time-color: rgba(255, 255, 255);
$chapter-button-color: rgba(255, 255, 255, 0.85);

$skip-button-color: white;
$skip-button-border-color: white;
$skip-button-background-color: rgba(255, 255, 255, 0.25);
$skip-button-background-color-hover: rgba(255, 255, 255, 0.2);

$tooltip-background: rgba(0, 0, 0, 0.85);

$global-font-size: 12px;

$slider-border-radius: 2.4px;
$progress-height: 3.2px;
$progress-height-hover: 5.6px;
$progress-chapter-bar-height: 2.4px;
$progress-bottom-margin: 0px;
$progress-x-margin: 8px;
$progress-x-margin-fullscreen-425: 16px;
$progress-x-margin-fullscreen-600: 24px;
$progress-x-margin-fullscreen-1000: 24.96px;
$progress-x-margin-fullscreen-1200: 32px;
$progress-x-margin-fullscreen-1400: 40px;
$progress-thumb-height: 14px;
$progress-thumb-border-size: 2px;

$control-padding: 12px 8px;
$control-padding-fullscreen-425: 12px 16px;
$control-padding-fullscreen-600: 16px 20px;
$control-padding-fullscreen-1000: 18px 24.96px;
$control-padding-fullscreen-1200: 20px 32px;
$control-padding-fullscreen-1400: 22.4px 40px;
$control-button-gap: 14px;
$control-button-gap-fullscreen-600: 12px;
$control-button-gap-fullscreen-1000: 16px;
$control-button-height: 30px;
$control-button-width: 30px;

$volume-container-height: 2.4px;
$volume-container-width-expand: 64px;
$volume-slider-height: 3.84px;
$volume-thumb-height: 11.52px;

$loader-width: 57.6px;

$mobile-control-button-size: 56px;
$mobile-control-button-size-fullscreen-425: 56px;
$mobile-control-button-size-fullscreen-600: 60px;
$mobile-control-button-size-fullscreen-1000: 64px;
$mobile-control-button-size-fullscreen-1200: 68px;
$mobile-control-button-size-fullscreen-1400: 72px;

$setting-margin: 16px;
$setting-width: 256px;
$setting-max-height: 320px;
$setting-border-radius: 12px;
$setting-padding: 8px 0;
$setting-item-height: 40px;
$setting-item-icon-padding: 0 10px;

$setting-item-label-padding: 0 15px 0 0;
$setting-item-label-font-weight: 400;
$setting-item-label-font-size: 1em;
$setting-item-label-count-font-size: 0.86em;

$setting-item-active-padding: 0 38px 0 15px;
$setting-item-active-background-size: 32px 32px;
$setting-item-active-background-position: right 9px center;
$setting-item-active-font-weight: 300;
$setting-item-active-font-size: 0.92em;

$setting-option-header-font-weight: 500;
$setting-option-header-font-size: 1.25em;
$setting-option-header-height: 48px;
$setting-option-header-padding-left: 48px;
$setting-option-header-bottom-border: 2px solid black;
$setting-option-header-background-position: left 9px center;
$setting-setting-option-choice-padding-left: 32px;

$caption-padding: 10px 6px;
$caption-font-size: 16px;
$caption-font-size-fullscreen: clamp(16px, 2vw, 24px);
/* Font size will be 2vw but will not go below 16px or above 24px */

$chapters-container-padding: 32px;
$chapters-container-padding-left: 20%;
$chapter-button-font-size: 24px;
$chapter-button-padding: 6px 12px;
$chapter-button-border-radius: 6px;
$chapter-gap: 20px;
$chapter-time-gap: 6px;
$chapter-time-padding: 2px;
$chapter-time-border-radius: 4px;

$skip-button-font-size: 16px;
$skip-button-padding: 6px 10px;
$skip-button-side-margin: 16px;
$skip-button-bottom-margin: 20px;
$skip-button-border-width: 2px;
$skip-button-border-border-radius: 6px;

$tooltip-padding: 4px 8px;
$tooltip-padding-fullscreen: 8px 12px;
$tooltip-font-size: 12px;
$tooltip-font-size-fullscreen: 16px;
$tooltip-border-radius: 6px;

$info-text-container-margin: 20px;
$info-text-container-margin-fullscreen: 24px;
$info-text-title-padding-bottom: 8px;
$info-text-title-padding-bottom-fullscreen: 12px;
$info-text-title-font-size: clamp(16px, 2vw, 22px);
$info-text-title-font-size-fullscreen: clamp(24px, 2.5vw, 28px);
$info-text-summery-font-size: clamp(12px, 1.5vw, 16px);
$info-text-summery-font-size-fullscreen: clamp(15px, 1.75vw, 18px);

$control-height: calc(
  (nth($control-padding, 1) * 2) + $control-button-height +
    $progress-bottom-margin + $progress-height
);

$control-height-fullscreen-425: calc(
  (nth($control-padding-fullscreen-425, 1) * 2) + $control-button-height +
    $progress-bottom-margin + $progress-height
);
$control-height-fullscreen-600: calc(
  (nth($control-padding-fullscreen-600, 1) * 2) + $control-button-height +
    $progress-bottom-margin + $progress-height
);
$control-height-fullscreen-1000: calc(
  (nth($control-padding-fullscreen-1000, 1) * 2) + $control-button-height +
    $progress-bottom-margin + $progress-height
);
$control-height-fullscreen-1200: calc(
  (nth($control-padding-fullscreen-1200, 1) * 2) + $control-button-height +
    $progress-bottom-margin + $progress-height
);
$control-height-fullscreen-1400: calc(
  (nth($control-padding-fullscreen-1400, 1) * 2) + $control-button-height +
    $progress-bottom-margin + $progress-height
);

@mixin progress-bar($z-index) {
  position: absolute;
  height: 100%;
  z-index: $z-index;
  // border-radius: $slider-border-radius;
  transition: width 300ms ease;
}

@mixin visible-hidden-control($opacity) {
  opacity: $opacity;
  transition: opacity 300ms ease-in-out;
  @if $opacity < 0.5 {
    pointer-events: none; /* Disable interaction when hidden */
  } @else {
    pointer-events: auto; /* Enable interaction when fully visible */
  }
}

@mixin screen-query($min-width: null, $max-width: null) {
  @if $min-width != null and $max-width == null {
    @media (min-width: #{$min-width}) {
      @content;
    }
  } @else if $min-width == null and $max-width != null {
    @media (max-width: #{$max-width}) {
      @content;
    }
  } @else if $min-width != null and $max-width != null {
    @media (min-width: #{$min-width}) and (max-width: #{$max-width}) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
  color: white;
  user-select: none;
  font-family: Arial, sans-serif;
  font-size: $global-font-size;
}

video {
  width: 100%;
}
