.background-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  &.visible {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.video-bottom-control-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  color: white;

  &.hidden {
    @include show-hide-control(0);
  }

  &.visible {
    @include show-hide-control(1);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    aspect-ratio: 6 / 1;
    z-index: -10;
    pointer-events: none;
  }

  .controls {
    padding: var(--rv-control-padding-y) var(--rv-control-padding-x);
    display: flex;
    align-items: center;
    gap: var(--rv-control-button-gap);

    button {
      background: none;
      border: none;
      color: inherit;
      height: var(--rv-control-button-height);
      // width: var(--rv-control-button-width);
      padding: 0;
      opacity: 0.8;
      transition: opacity 150ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .volume-container {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .volume-slider-root {
        position: relative;
        display: flex;
        width: 0;
        touch-action: none;
        user-select: none;
        align-items: center;
        transform-origin: left;
        transform: scaleX(0);
        transition: width 150ms ease-in-out, transform 150ms ease-in-out;

        .volume-slider-track {
          position: relative;
          height: var(--rv-volume-slider-height);
          width: 100%;
          flex-grow: 1;
          overflow: hidden;
          background: var(--rv-volume-slider-color);

          .volume-slider-range {
            position: absolute;
            height: 100%;
            background: var(--rv-volume-slider-fill-color);
          }
        }

        span {
          .volume-slider-thumb {
            display: block;
            height: var(--rv-volume-thumb-height);
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: var(--rv-volume-slider-fill-color);
            transition: color 0.2s;
            outline: none;
            pointer-events: none;
          }
        }

        &:focus-within {
          width: var(--rv-volume-container-width-expand);
          transform: scaleX(1);
        }
      }
      &:hover {
        .volume-slider-root {
          width: var(--rv-volume-container-width-expand);
          transform: scaleX(1);
        }
      }
    }

    .duration-container {
      cursor: pointer;
      font-family: "Open Sans", Arial, sans-serif;
    }

    .chapter-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: Verdana, sans-serif;
      text-transform: capitalize;
      opacity: 0.95;

      &.show-chapter-button {
        font-family: "Fira Code", "JetBrains Mono", "Cascadia Code",
          "Courier New", Courier, monospace;
        text-transform: none;
        font-weight: 400;
      }
    }

    .setting-button {
      transition: transform 150ms ease-in-out;
      transform-origin: center;
    }
    .setting-active {
      transform: rotateZ(30deg);
    }
  }
}

.video-container.full-screen {
  @include screen-query(425px) {
    .video-bottom-control-container .controls {
      padding: var(--rv-control-padding-fullscreen-425-y)
        var(--rv-control-padding-fullscreen-425-x);
    }
  }

  @include screen-query(600px) {
    .video-bottom-control-container .controls {
      gap: var(--rv-control-button-gap-fullscreen-600);
      padding: var(--rv-control-padding-fullscreen-600-y)
        var(--rv-control-padding-fullscreen-600-x);
    }
  }

  @include screen-query(1000px) {
    .video-bottom-control-container .controls {
      gap: var(--rv-control-button-gap-fullscreen-1000);
      padding: var(--rv-control-padding-fullscreen-1000-y)
        var(--rv-control-padding-fullscreen-1000-x);
    }
  }

  @include screen-query(1200px) {
    .video-bottom-control-container .controls {
      padding: var(--rv-control-padding-fullscreen-1200-y)
        var(--rv-control-padding-fullscreen-1200-x);
    }
  }

  @include screen-query(1400px) {
    .video-bottom-control-container .controls {
      padding: var(--rv-control-padding-fullscreen-1400-y)
        var(--rv-control-padding-fullscreen-1400-x);
    }
  }
}
