.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
  color: white;
  user-select: none;
  font-family: Arial, sans-serif;
  font-size: var(--rv-global-font-size);
  aspect-ratio: 16 / 9;

  &.video-loaded {
    aspect-ratio: unset;
  }

  video {
    width: 100%;
  }
}
